<section data-ng-controller="DjuController as djuCtrl">
    <div class="page-header">
        <h3>Calcul de DJU</h3>
    </div>

    <!--Heating period-->
    <h4>Période de chauffage</h4>
    <hr/>

    <form name="computationForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="idHeatingTemperature" class="col-sm-1 control-label">Température</label>

            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon" id="idCelsius">°C</span>
                    <input id="idHeatingTemperature" name="heatingTemperature" class="form-control" type="texte"
                           placeholder="ex: 20.5" ng-model="djuCtrl.computation.temperature"
                           aria-describedby="idCelsius"
                           required ng-pattern="{{djuCtrl.patternTemperature}}">
                </div>
            </div>
            <span class="col-sm-1 col-sm-offset-4 glyphicon glyphicon-ok input-ok control-label"
                  ng-show="!computationForm.heatingTemperature.$invalid"></span>
            <span class="col-sm-1 col-sm-offset-4 glyphicon glyphicon-remove input-ko control-label"
                  ng-show="computationForm.heatingTemperature.$invalid"></span>
        </div>

        <div class="form-group">
            <label for="idHeatingStartDate" class="col-sm-1 control-label">Mois</label>

            <div class="col-sm-2">
                <input id="idHeatingStartDate" name="heatingStartDate" class="form-control" type="date"
                       placeholder="ex: 15/05" ng-model="djuCtrl.computation.startDate"
                       required ng-pattern="{{djuCtrl.patternDate}}">
            </div>
            <div class="col-sm-2">
                <input id="idHeatingEndDate" name="heatingEndDate" class="form-control" type="date"
                       placeholder="ex: 31/12" ng-model="djuCtrl.computation.endDate"
                       required ng-pattern="{{djuCtrl.patternDate}}">
            </div>
            <span class="col-sm-1 col-sm-offset-2 glyphicon glyphicon-ok input-ok control-label"
                  ng-show="!computationForm.heatingStartDate.$invalid && !computationForm.heatingEndDate.$invalid"></span>
            <span class="col-sm-1 col-sm-offset-2 glyphicon glyphicon-remove input-ko control-label"
                  ng-show="computationForm.heatingStartDate.$invalid || computationForm.heatingEndDate.$invalid"></span>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">Jours</label>

            <div class="col-sm-6">
                <label class="checkbox-inline" ng-repeat="weekDay in djuCtrl.weekDays">
                    <input id="{{weekDay.id}}" type="checkbox" ng-model="weekDay.checked"
                           ng-click="djuCtrl.toggleDay(weekDay)"
                           ng-required="djuCtrl.computation.weekDays.length==0">
                    {{weekDay.value}}
                </label>
            </div>
            <span class="col-sm-1 glyphicon glyphicon-ok input-ok control-label"
                  ng-show="djuCtrl.computation.weekDays.length!=0"></span>
            <span class="col-sm-1 glyphicon glyphicon-remove input-ko control-label"
                  ng-show="djuCtrl.computation.weekDays.length==0"></span>
        </div>

        <div class="form-group">
            <label for="idTimeStart" class="col-sm-1 control-label">Heures</label>

            <div class="col-sm-2">
                <input id="idTimeStart" name="timeStart" class="form-control" type="text" placeholder="00:00"
                       ng-model="djuCtrl.computation.startHour"
                       ng-pattern="{{djuCtrl.patternTimestamp}}">
            </div>
            <div class="col-sm-2">
                <input id="idTimeEnd" name="timeEnd" class="form-control" type="text" placeholder="23:59"
                       ng-model="djuCtrl.computation.endHour"
                       ng-pattern="{{djuCtrl.patternTimestamp}}">
            </div>
            <span class="col-sm-1 col-sm-offset-2 glyphicon glyphicon-ok input-ok control-label"
                  ng-show="!computationForm.timeStart.$invalid && !computationForm.timeEnd.$invalid"></span>
            <span class="col-sm-1 col-sm-offset-2 glyphicon glyphicon-remove input-ko control-label"
                  ng-show="computationForm.timeStart.$invalid || computationForm.time.$invalid"></span>
        </div>

        <hr/>
        <div class="form-group">
            <label for="idComputationDJU" class="col-sm-1 control-label">DJU</label>
            <div class="col-sm-2">
                <input id="idComputationDJU" name="computationDJU" class="form-control" type="text"
                       ng-model="djuCtrl.computation.dju" disabled>
            </div>
            <button type="submit" class="btn btn-info col-sm-1" ng-disabled="computationForm.$invalid">Calculer</button>
        </div>
    </form>
</section>
