<section ng-controller="DjuController as djuCtrl">
    <span us-spinner spinner-key="referentialSpinner"></span>

    <div class="page-header">
        <h3>Données de référence des DJU</h3>
    </div>
    <div class="row">
        <h4 class="dju-ref-data">Importer des données</h4>

        <form name="djuRefForm" ng-submit="djuCtrl.importData()">
            <!--File selection-->
            <div class="col-lg-4">
                <div class="input-group">
                    <input id="dju-ref-filename" type="text" class="form-control input-sm"
                           placeholder="Sélectionner un fichier..."
                           disabled ng-model="djuCtrl.file.name" required>

                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file input-sm">
                            <span class="glyphicon glyphicon-folder-open" dju-file-importer="djuCtrl.updateFile">
                                <input id="dju-ref-browse" type="file">
                            </span>
                        </span>
                    </span>
                </div>
            </div>

            <!--Load button-->
            <div class="col-lg-2">
                <button class="btn btn-primary input-sm" type="submit" ng-disabled="djuRefForm.$invalid">
                    Importer
                </button>
            </div>
        </form>
    </div>

    <div class="row">
        <div ng-init="djuCtrl.findDjus()">
            <div class="col-lg-6">
                <div class="row">
                    <h4 class="dju-ref-data">Données de référence</h4>
                </div>
                <div class="row">
                    <span class="col-lg-offset-5 cols-lg-2 djuFileLabel">{{djuCtrl.djus[0].label}}</span>
                </div>

                <div class="row">
                    <table ng-table="djuCtrl.recordsTable" class="table table-striped table-condensed">
                        <tr ng-repeat="record in djuCtrl.djus">
                            <td data-title="'Jour'">
                                {{record.day | date: 'd'}}
                            </td>
                            <td data-title="'Mois'">
                                {{record.month | date: 'MMMM'}}
                            </td>
                            <td data-title="'Heure'">
                                {{record.hour | date: 'HH'}}
                            </td>
                            <td data-title="'Température (°C)'">
                                {{record.temperature}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
