<section ng-controller="DjuController as djuCtrl">
    <div class="row">
        <div class="page-header">
            <h3>Données de référence des DJU</h3>
        </div>
    </div>

    <div class="row">
        <h4>Importer des données</h4>

        <form name="djuRefForm" ng-submit="djuCtrl.importData()">
            <!--File selection-->
            <div class="col-lg-4">
                <div class="input-group">
                    <input id="dju-ref-filename" type="text" class="form-control"
                           placeholder="Sélectionner un fichier..."
                           disabled ng-model="djuCtrl.file.name" required>

                <span class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        <span class="glyphicon glyphicon-folder-open" dju-file-importer="djuCtrl.updateFile">
                            <input id="dju-ref-browse" type="file">
                        </span>
                    </span>
                </span>
                </div>
            </div>

            <!--Load button-->
            <div class="col-lg-2">
                <button class="btn btn-primary" type="submit" ng-disabled="djuRefForm.$invalid">Importer</button>
            </div>
        </form>
    </div>

    <div class="row dju-ref-data">
        <h4>Données de référence</h4>
    </div>
</section>
